In [3]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pickle

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Work/Practice/numpy/ML Deployment/IRIS.csv")

print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
X = df[["sepal_length", "sepal_width", "petal_length", "petal_width"]]
y = df["species"]

In [16]:
df.species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [17]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=50)

In [7]:
# Feature scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test= sc.transform(X_test)

In [8]:
classifier = RandomForestClassifier()

In [9]:
model = classifier.fit(X_train, y_train)

In [10]:
predictions = model.predict(X_test)
predictions

array(['Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica'], dtype=object)

In [12]:
y_test

88     Iris-versicolor
72     Iris-versicolor
20         Iris-setosa
16         Iris-setosa
147     Iris-virginica
140     Iris-virginica
113     Iris-virginica
23         Iris-setosa
12         Iris-setosa
68     Iris-versicolor
39         Iris-setosa
130     Iris-virginica
34         Iris-setosa
112     Iris-virginica
55     Iris-versicolor
25         Iris-setosa
82     Iris-versicolor
48         Iris-setosa
81     Iris-versicolor
77     Iris-versicolor
100     Iris-virginica
80     Iris-versicolor
14         Iris-setosa
131     Iris-virginica
86     Iris-versicolor
118     Iris-virginica
56     Iris-versicolor
54     Iris-versicolor
97     Iris-versicolor
143     Iris-virginica
125     Iris-virginica
98     Iris-versicolor
73     Iris-versicolor
144     Iris-virginica
21         Iris-setosa
3          Iris-setosa
59     Iris-versicolor
119     Iris-virginica
84     Iris-versicolor
7          Iris-setosa
41         Iris-setosa
57     Iris-versicolor
104     Iris-virginica
8          Iris-setosa
102     Iris-virginica
Name: species, dtype: object

In [14]:
from sklearn.metrics import accuracy_score

In [15]:
accuracy_score(y_test, predictions)

0.9555555555555556

In [10]:
pickle.dump(classifier, open("model.pkl", "wb"))

In [11]:
import numpy as np
from flask import Flask, request, jsonify, render_template
import pickle

In [12]:
# Create flask app
flask_app = Flask(__name__)
model = pickle.load(open("model.pkl", "rb"))

In [13]:
@flask_app.route("/")
def Home():
    return render_template("index.html")

In [14]:
@flask_app.route("/predict", methods = ["POST"])
def predict():
    float_features = [float(x) for x in request.form.values()]
    features = [np.array(float_features)]
    prediction = model.predict(features)
    return render_template("index.html", prediction_text = "The flower species is {}".format(prediction))

In [15]:
if __name__ == "__main__":
    flask_app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

INFO:werkzeug:WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
INFO:werkzeug:Press CTRL+C to quit
INFO:werkzeug: * Restarting with stat